
// global vars
@import 'vars.scss';

@import 'bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito');

// // libraries
// @import 'bulma-extensions/bulma-calendar/dist/css/bulma-calendar';

// // custom styles
// @import 'layout.scss';

html, body {
  margin: 0;
  padding: 0;
  color: red;
  background: #efefef;
}
